<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="static/css/styles.css">
  {% if title %}
      <title>{{ title }} - Teacher Rating</title>
  {% else %}
      <title>Welcome to SRM Teacher Rating</title>
  {% endif %}
</head>
<body>
      <div> 
        <a class="btn btn-info" href="{{ url_for('index') }}">Home</a>
        <a class="btn btn-info" href="{{ url_for('add_teacher') }}">Add Teacher</a>
        <a class="btn btn-info" href="{{ url_for('view_teachers') }}">View Teachers</a>
        {# Checking if not logged in #}
        {% if current_user.is_anonymous %}
          <a class="btn btn-info" href="{{url_for('register') }}">Register</a>
          <a class="btn btn-info" href="{{ url_for('login') }}">Login</a>
        {% else %}
          <a class="btn btn-info" href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li style="color:red">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
</body>
</html>