<html>
<head>
  {% if title %}
      <title>{{ title }} - Teacher Rating</title>
  {% else %}
      <title>Welcome to SRM Teacher Rating</title>
  {% endif %}
</head>
<body>
      <div>Blog: 
        <a href="{{ url_for('index') }}">Home</a>
        {# <a href="{{ url_for('hello') }}">Main Page</a> #}
        {# Checking if not logged in #}
        {% if current_user.is_anonymous %}
          <a href="{{url_for('register') }}">Register</a>
          <a href="{{ url_for('login') }}">Login</a>
        {% else %}
          <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li style="color:red">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
</body>
</html>