<html>
<head>
  {% if title %}
      <title>{{ title }} - Teacher Rating</title>
  {% else %}
      <title>Welcome to SRM Teacher Rating</title>
  {% endif %}
</head>
<body>
      <div> 
        <a href="{{ url_for('index') }}">Home</a>
        {# Checking if not logged in #}        
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li style="color:red">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
</body>
</html>