{% extends "base.html" %}

{% block content %}
<script>
function outputUpdate(val) {
    document.querySelector('#selected-score').value = val;
}
</script>
<h1>Rate Teacher</h1>
<p>Teacher: {{teacher.first_name}} {{teacher.last_name}}</p>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.dedication_score.label }}<br>
			{% for score in form.dedication_score %}
				{{ score.label }} {{score}}
			{% endfor %}
			{# {{ form.dedication_score }}<br> #}
			{# {{ form.dedication_score(min=1, max=5, size=32, oninput="outputUpdate(value)")}}
			<output for="dedication_score" id="selected-score">{{form.dedication_score.data}}</output><br> #}
			{% for error in form.dedication_score.errors %}
				<span style="color:red;">[{{error}}]</span>
			{% endfor %}
		</p>
		{# <p>
			{{ form.last_name.label }}<br>
			{{ form.last_name(size=32) }}<br>
			{% for error in form.last_name.errors %}
				<span style="color:red;">[{{error}}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.dept.label }}<br>
			{{ form.dept() }}<br>
			{% for error in form.dept.errors %}
				<span style="color:red;">[{{error}}]</span>
			{% endfor %}
		</p> #}
        {# <p>{{ form.submit() }}</p> #}
    </form>

{% endblock %}