{% extends "base.html" %}

{% block content %}
	{% if teachers.error %}
		<h1>No teachers currently. Please add some.</h1>
	{% else %}
	<h2>All teachers are listed below</h2>
	<table class="table table-striped table-bordered table-hover table-dark col-md-6 table-condensed">
		<thead>
	        <tr>
	            <th>Name</th>
	            <th>Department</th>
	            <th>Overall Score</th>
	            <th>Dedication Score</th>
	            <th>Leniency Score</th>
	            <th>Marks Score</th>
	            <th>Teaching Score</th>
	            <th>Friendliness Score</th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
		{% for teacher in teachers %}
			<tr>
	            <td style = "background:#95ECBA; color: black;"><b>{{teacher.first_name}} {{teacher.last_name}}</b></td>
	            <td>{{teacher.dept}}</td>
	            <td class="badge badge-success">{{teacher.overall_score}}</td>
	            <td>{{teacher.dedication_score}}</td>
	            <td>{{teacher.leniency_score}}</td>
	            <td>{{teacher.marks_score}}</td>
	            <td>{{teacher.teaching_score}}</td>
	            <td>{{teacher.friendliness_score}}</td>
	            <td><a class="btn btn-primary" href="{{ url_for('rate_teacher', teacherId=teacher.id)}}">Rate</a>
	        </tr><br>
		{% endfor %}
		</tbody>
	</table>
	{% endif %}

{% endblock %}